*.glade~
*.idea
__pycache__
debian/mauna-image-writer/
debian/.debhelper
debian/debhelper-build-stamp
debian/files
build/
Mauna_Image_Writer.egg-info/
.pybuild/
po/af/
po/ar/
po/de/
po/el/
po/es/
po/eu/
po/fa/
po/fil/
po/fr/
po/hi/
po/id/
po/ms/
po/pt/
po/pt_BR/
po/zh_CN/
po/*/*/*.mo
src/__version__
