[Desktop Entry]
Name=Mauna Image Writer
Name[af]=Mauna Beeldopnemer
Name[de]=Mauna-Bildrekorder
Name[el]=Συγγραφέας εικόνων Mauna
Name[es]=Grabador de imágenes Mauna
Name[eu]=Mauna Irudi Idazlea
Name[fa]=ماونا نویسنده تصویر
Name[fil]=Mauna Manunulat ng Larawan
Name[fr]=Enregistreur d'images Mauna
Name[hi]=मौना छवि लेखक
Name[id]=Penulis Gambar Mauna
Name[ms]=Penulis Imej Mauna
Name[pt_BR]=Gravador de Imagem do Mauna
Name[pt]=Gravador de Imagem Mauna
Name[zh_CN]=莫纳图像作家
GenericName=Image Writer
GenericName[af]=Beeldopnemer
GenericName[de]=Bildaufnahmegerät
GenericName[el]=Συγγραφέας εικόνων
GenericName[es]=Grabador de imágenes
GenericName[eu]=Irudi Idazlea
GenericName[fa]=نویسنده تصویر
GenericName[fil]=Manunulat ng Larawan
GenericName[fr]=Enregistreur d'image
GenericName[hi]=छवि लेखक
GenericName[id]=Penulis Gambar
GenericName[ms]=Penulis Imej
GenericName[pt_BR]=Gravador de Imagem
GenericName[pt]=Gravador de Imagem
GenericName[zh_CN]=图像编写器
Comment=Writes ISO files to USB disk
Comment[af]=Skryf ISO-lêers na USB-skyf
Comment[de]=Brennen Sie ISO-Dateien auf einen USB-Datenträger
Comment[el]=Γράφει αρχεία ISO σε δίσκο USB
Comment[es]=Escribe archivos ISO en un disco USB
Comment[eu]=ISO fitxategiak USB diskoan idazten ditu
Comment[fa]=فایل های ISO را بر روی دیسک USB می نویسد
Comment[fil]=Nagsusulat ng mga ISO file sa USB disk
Comment[fr]=Écrit des fichiers ISO sur un disque USB
Comment[hi]=USB डिस्क पर ISO फ़ाइलें लिखता है
Comment[id]=Menulis file ISO ke disk USB
Comment[ms]=Menulis fail ISO ke cakera USB
Comment[pt_BR]=Grava arquivos ISO em disco USB
Comment[pt]=Grava ficheiros ISO em disco USB
Comment[zh_CN]=将 ISO 文件写入 U 盘
Exec=mauna-image-writer %f
Icon=mauna-image-writer
Terminal=false
Type=Application
Categories=System;
MimeType=application/x-cd-image;
StartupNotify=true
Keywords=image;iso;writer;disk;usb
Keywords[af]=beeld;iso;opnemer;skyf;usb
Keywords[de]=bild;iso;recorder;festplatte;usb
Keywords[el]=εικόνα;iso;writer;δίσκος;usb
Keywords[es]=imagen;iso;grabador;disco;usb
Keywords[eu]=irudia;iso;idazlea;disko;usb
Keywords[fa]=تصویر؛ ISO؛ نویسنده؛ دیسک؛ USB
Keywords[fr]=image;iso;enregistreur;disque;usb
Keywords[hi]=छवि;आईएसओ;लेखक;डिस्क;यूएसबी
Keywords[ms]=imej;iso;penulis;cakera;usb
Keywords[pt_BR]=imagem;iso;gravador;disco;usb
Keywords[pt]=imagem;iso;gravador;disco;usb
Keywords[zh_CN]=图像；iso；写入器；磁盘；USB
